This project is to analyse the my tweets from June 2014 to July 2022.
Objectives of the project
1. Sentiment analysis for the overall mood in my tweets
2. Topic Modeling for the stuff I am interested in talking about on my social media
3. SOme form of visualization of the stuf I talk about.

Plan
1. To first retrieve all of my tweets write it to a csv file for subsequent use when I do not have internet connection
2. Put the data into a dataframe
3. Perform some data cleaning to make the dataframe ready for analysis
4. Perform the simple preprocessing needed in order to conduct the sentiment analysis as well as the topic modeling 
5. Sentiment analysis for the overall tone in my tweets
6. Topic Modeling for the various things I do talk about on my twitter account
7. Visualizatioin for sharing on my social media and linkedin

In [4]:
%matplotlib ipympl
import tweepy 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import emoji

I have to remember to change some of the letters in the keys and tokens to make it invalid so it is not abused by anyone.

In [5]:
api_key= '7KuITiL0Jh9WukpwyIJIcmiji'
api_secret= 'tpYuzVZmBHX35p1lNuyFQQOBYoFFN3u60qF1hBNifFelG2blgU'
bearer = 'AAAAAAAAAAAAAAAAAAAAAK%2BbhAEAAAAAHaEZWcWsb3OglJwNj%2FCnP6DbWNk%3DYaQvGBImj4AHKUcHMEUX7x2v3YmA3UcETdthZrKn6t6ggyOveR'
access_token = '318341693-hnRKL0rFTQqEDzsQbwxJQzqLUNiMrGoytJdVWhkL'
access_secret= 'CfZjgvxqmPPU2wshDldAruUk5vSAUZL1OMDjCWq2yLLUW'

In [6]:
def my_tweets(username):
    '''Function to return my tweets in an array'''
    #My authorization and user access keys
    auth= tweepy.OAuthHandler(api_key, api_secret,access_token=access_token, access_token_secret=access_secret)

    #Calling the api with my authentication details. 
    api= tweepy.API(auth)
    #Pulling  out just 200 tweets for the start
    num_tweets= 3200
    tweets= api.user_timeline(screen_name=username, count= num_tweets, include_rts=True, tweet_mode='extended')
    
    tweet_array= [(tweet.full_text, tweet.created_at, tweet.id) for tweet in tweets]
    alltweets=[]
    alltweets.extend(tweet_array)
    oldest_id= tweet_array[-1][2]

    while True:
        tweets=api.user_timeline(screen_name=username, count= num_tweets, max_id= oldest_id-1, include_rts=True, tweet_mode='extended')
        tweet_array= [(tweet.full_text, tweet.created_at, tweet.id)for tweet in tweets]
        if len(tweets)==0:
            break
        oldest_id= tweets[-1].id
        alltweets.extend(tweet_array)


    return alltweets

    
data= my_tweets('@Godfred__')

In [7]:
def tweets_data(tweets):
    '''This will add tweets, created at and id and puts them into a dataframe'''
    tweets= pd.DataFrame(data={'created_at':[tweet[1] for tweet in tweets],
                                'Tweets':[tweet[0] for tweet in tweets],
                                'id':[tweet[2] for tweet in tweets]
                                
                                })

    return tweets

In [8]:
tweets_df =tweets_data(data)
tweets_df.head()

,created_at,Tweets,id
0,2022-10-16 17:15:30+00:00,@Gibril_jnr 不不不不不不不不不不不不不不不不不不,1581695340742262784
1,2022-10-16 15:36:56+00:00,Wild https://t.co/pXWLc5xZiq,1581670535129620482
2,2022-10-16 14:12:59+00:00,@Gibril_jnr Oh nah. My personal things I dey do,1581649409896747008
3,2022-10-16 14:08:43+00:00,This is such a huge milestone for me and I am ...,1581648334418169860
4,2022-10-16 07:15:58+00:00,@kwabena_marvin 不不不不不不不,1581544465462095872

In [9]:
#Converting the created_at column into a real date column
tweets_df['created_at']= pd.to_datetime(tweets_df['created_at'], utc=False)
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3213 entries, 0 to 3212
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  3213 non-null   datetime64[ns, UTC]
 1   Tweets      3213 non-null   object
 2   id          3213 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(1), object(1)
memory usage: 75.4+ KB

In [10]:
print('The first tweet was tweeted on {}'.format(tweets_df['created_at'].min()))
print('The last tweet was tweeted on {}'. format(tweets_df['created_at'].max()))

The first tweet was tweeted on 2021-05-22 01:42:13+00:00
The last tweet was tweeted on 2022-10-16 17:15:30+00:00

In [13]:
#Writing the new tweets into a CSV to be used offline. 
tweets_df.to_csv('God.csv')